/* Estilos */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #89eef1;
    color: #050505;
}
.toolbar {
    background-color: #89eef1;
    padding: 10px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #0a0a0a;
}
.toolbar button {
    background-color: #4a5361;
    color: rgb(246, 246, 248);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}
.toolbar button:hover {
    background-color: #080808;
}
.editor {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    padding: 10px;
}
#code {
    flex: 1;
    background-color: #feffff;
    color: #030303;
    font-family: monospace;
    font-size: 14px;
    padding: 10px;
    border: none;
    resize: none;
    outline: none;
}
.output {
    background-color: #f7f8f8;
    padding: 10px;
    margin-top: 10px;
    height: 100px;
    overflow-y: auto;
    border: 1px solid #5bd2e7;
    font-family: monospace;
}